@unocss;

:root {
  color-scheme: light dark;
}

@media print {
  @page {
    size: A4;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  table, figure, section, article {
    page-break-inside: avoid;
  }
}